@page
@model Book_StoreV10.Pages.Orders.OrderModel
@{
    ViewData["Title"] = "Order";
}

<h4>Hello @Model.Student.Name: Thank you for placing this order on @DateTime.Now</h4>
<h5> Your order contains:</h5>
@foreach (var item in Model.cartItems)
{
<tr>
    <td class="text-left"> Name: @item.Book.Title</td>
    <td class="text-right">
        Price :
        @((item.Book.Price).ToString("c"))
    </td>
    <td class="text-right">
        Amount :
        @((item.Amount))
    </td>
    <td class="text-right">
        Price :
        @((item.Book.Price* (item.Amount)).ToString("c"))
    </td>
</tr>
    <br />
}

<p>@Model.SalesInfo</p>
<p>We'll ship your items as soon as possible.</p>
