@page
@model Book_StoreV10.Pages.Orders.ShoppingCartModel
@{
    ViewData["Title"] = "ShoppingCart";
}
<h1>ShoppingCart</h1>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Image</th>
            <th class="text-right">Price</th>
            <th class="text-right">Amount</th>
        </tr>
    </thead>
    @if (Model.OrderedBooks.Count != 0)
    {
        <tbody>
        @foreach (var item in Model.OrderedBooks)
        {
            <tr>
                <td class="text-center">@item.Book.Title</td>
                <td class="text-left">@item.Book.Author</td>
                <td>
                    <img src="~/Books/@item.Book.ImageName" width="60" height="70">
                </td>
                <td class="text-right">@item.Book.Price.ToString("c")</td>
                <td class="text-right">@item.Amount</td>
                <td>
                    <form method="post">
                        <button asp-page-handler="Delete" asp-route-isbn="@item.Book.ISBN"
                                class="btn btn-danger btn-group-lg pull-right">
                            Delete-From-Chart
                        </button>
                        <button asp-page-handler="Update" asp-route-isbn="@item.Book.ISBN"
                                class="btn btn-danger btn-group-lg pull-right">
                            Update-Chart
                        </button>
                    </form>
                </td>
            </tr>
        }
        </tbody>
        <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right">
                @Model.ChartService.CalculateTotalPrice().ToString("c")
            </td>
        </tr>
        </tfoot>
    }
</table>
<div class="text-center">
    <a asp-page="/Books/AllBooks" class="btn btn-primary">Continue shopping</a>
    <a asp-page="/Orders/CheckOut" class="btn btn-primary">Check_Out</a>
</div>
